<!DOCTYPE html>
<html>
<head>


    <title>Index page</title>
</head>
<body>

<div id="container">
    <header>User:
        <div id="userName"></div>
        Not implemented
    </header>
    <div id="messagesListArea">
        <script id="messagesList" type="text/template">
            <ul id="messagesListUL">
                <li><span><%= owner %></span> <span> <%= title %></span></li>
            </ul>
        </script>
    </div>
    <div id="messageArea">
        <div id="messageContentArea">

            <p>Message Area
                <script id="messagesContentDisplay" type="text/template">
                    <ul id="dateSentMessageBodyInfo">
                        <li><label>dateSent : </label><%= 'dateSent' %></li>
                         <li><label>Message Body : </label><%= 'body' %></li>
                    </ul>
                </script>
            </p>

            <br/><br/> End of Message Area
        </div>

    </div>
    <div id="contactListArea">
        <!-- <div id="contactListContentArea">
             <p>Contacts List
             <ul id="contactListUL">
                 <script id="contactsList" type="text/template">
                     <li><%= name %></li>
                 </script>
             </ul>
             </p>
         </div> -->
    </div>
</div>
<script src="js/jslibs/jquery-2.0.3.min.js"></script>
<script src="js/jslibs/underscore-min.js"></script>
<script src="js/jslibs/backbone-min.js"></script>
<script src="js/Models/message.js"></script>
<script src="js/Views/messageView.js"></script>
<script src="main.js"></script>

</body>
</html>