<!-- look in specs/indexRunner.html -->
<!DOCTYPE html>
<html>
<head>

    <script src="../js/jslibs/jquery-2.0.3.min.js"></script>
    <script src="../js/jslibs/underscore-min.js"></script>
    <script src="../js/jslibs/backbone-min.js"></script>

    <link rel="stylesheet" href="JasmineJSFiles/jasmine.css">

    <title>jasmine MSBB Runner</title>
</head>
<body>

<div id="container">
    <header>
        <div id="userName"></div>
        <a href="#/start" style="text-decoration: none"></a>
    </header>
    <div id="messageContainer">
        <div id="messagesListArea">
            <p>MessageListArea</p>
            <button id="createMessage">Create Message</button>
            <script id="messagesList" type="text/template">
                <ul id="messagesListUL">
                    <li><span><%= owner %></span> <span> <%= title %></span></li>
                    <li>
                        <button id="delete">Delete</button>
                    </li>
                    <li>
                        <button class="add">Add</button>
                    </li>
                </ul>
            </script>
        </div>

        <div id="messageContentArea">
            <p>Message Area
            <ul id="dateSentMessageBodyInfo">
                <script id="messagesContentDisplay" type="text/template">
                    <li><label>dateSent : </label><%= dateSent %></li>
                    <li><label>Message Body : </label><%= body %></li>
                    <li class="spacer"></li>

                </script>

            </ul>
            <script id="messageBodyContentDisplay" type="text/template">
                <div id="currentMessageBody"></div>
            </script>
            </p>

            <br/><br/>
        </div>
    </div>
    <div id="contactListArea">
        <div id="contactListContentArea">
            <p>Contacts List
                <button class="addContact">Add A Contact</button>
            <ul id="contactListUL">
                <script id="contactsListDisplay" type="text/template">
                    <li>Name : <%= name %> Contact Address : <%= contactAddress %></li>
                    <li>
                        <button class="delete">Delete</button>
                    </li>

                </script>
            </ul>
            </p>End of Contact List Area
        </div>
    </div>
</div>

<script src="../js/Models/Contact.js"></script>
<script src="../js/Models/Message.js"></script>

<script src="../js/Collections/ContactCollection.js"></script>
<script src="../js/Collections/MessageCollection.js"></script>

<script src="../js/Views/ContactView.js"></script>
<script src="../js/Views/ContactCollectionView.js"></script>
<script src="../js/Views/MessageView.js"></script>
<script src="../js/Views/MessageCollectionView.js"></script>
<script src="../js/Views/App.js"></script>

<script src="../js/Router/AppRouter.js"></script>

<script src="../App.js"></script>

<script src="JasmineJSFiles/jasmine.js"></script>
<script src="JasmineJSFiles/jasmine-html.js"></script>
<script src="JasmineJSFiles/boot.js"></script>

<script src="messageSpec.js"></script>
<!--
<script src="contactsListSpec.js"></script>
<script src="userSpec.js"></script>
-->
</body>
</html>